In [4]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Files to Load
listings_df= pd.read_csv(r"C:/Users/polska2207/Downloads/neighbourhoods.csv")
listings_df

    neighbourhood_group                                      neighbourhood
0                   NaN               Brightwood Park, Crestwood, Petworth
1                   NaN                      Brookland, Brentwood, Langdon
2                   NaN                         Capitol Hill, Lincoln Park
3                   NaN    Capitol View, Marshall Heights, Benning Heights
4                   NaN     Cathedral Heights, McLean Gardens, Glover Park
5                   NaN  Cleveland Park, Woodley Park, Massachusetts Av...
6                   NaN  Colonial Village, Shepherd Park, North Portal ...
7                   NaN  Columbia Heights, Mt. Pleasant, Pleasant Plain...
8                   NaN   Congress Heights, Bellevue, Washington Highlands
9                   NaN  Deanwood, Burrville, Grant Park, Lincoln Heigh...
10                  NaN                           Douglas, Shipley Terrace
11                  NaN  Downtown, Chinatown, Penn Quarters, Mount Vern...
12                  NaN         Dupont Circle, Connecticut Avenue/K Street
13                  NaN                       Eastland Gardens, Kenilworth
14                  NaN  Edgewood, Bloomingdale, Truxton Circle, Eckington
15                  NaN  Fairfax Village, Naylor Gardens, Hillcrest, Su...
16                  NaN  Friendship Heights, American University Park, ...
17                  NaN                    Georgetown, Burleith/Hillandale
18                  NaN              Hawthorne, Barnaby Woods, Chevy Chase
19                  NaN                                 Historic Anacostia
20                  NaN     Howard University, Le Droit Park, Cardozo/Shaw
21                  NaN     Ivy City, Arboretum, Trinidad, Carver Langston
22                  NaN     Kalorama Heights, Adams Morgan, Lanier Heights
23                  NaN  Lamont Riggs, Queens Chapel, Fort Totten, Plea...
24                  NaN               Mayfair, Hillbrook, Mahaning Heights
25                  NaN                          Near Southeast, Navy Yard
26                  NaN       North Cleveland Park, Forest Hills, Van Ness
27                  NaN  North Michigan Park, Michigan Park, University...
28                  NaN      River Terrace, Benning, Greenway, Dupont Park
29                  NaN                                 Shaw, Logan Circle
30                  NaN                  Sheridan, Barry Farm, Buena Vista
31                  NaN  Southwest Employment Area, Southwest/Waterfron...
32                  NaN  Spring Valley, Palisades, Wesley Heights, Foxh...
33                  NaN                     Takoma, Brightwood, Manor Park
34                  NaN  Twining, Fairlawn, Randle Highlands, Penn Bran...
35                  NaN          Union Station, Stanton Park, Kingman Park
36                  NaN                        West End, Foggy Bottom, GWU
37                  NaN  Woodland/Fort Stanton, Garfield Heights, Knox ...
38                  NaN                   Woodridge, Fort Lincoln, Gateway

In [6]:
# Read in neighbourhood data
hoods = pd.read_csv(r"C:/Users/polska2207/Downloads/neighbourhoods.csv")
# Check shape of hood data
hoods.shape

(39, 2)

In [7]:
# Look at info stats
hoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  0 non-null      float64
 1   neighbourhood        39 non-null     object
dtypes: float64(1), object(1)
memory usage: 756.0+ bytes

In [8]:
# Check for null values
hoods.isnull().sum()

neighbourhood_group    39
neighbourhood           0
dtype: int64

In [9]:
# drop column since all of data is missing
hoods.drop('neighbourhood_group', axis=1, inplace=True)